.center {
  display : flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #1f2329;
}

.header {
  color: white;
}

.description {
  color: white;
  max-width: 500px;
}

.summary {
  color: white;
  max-width: 500px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.white-text {
  color: white;
}

.mt {
  margin-top: 15px;
}